# Core
numpy==1.26.4
scipy==1.11.4

# Vision
opencv-python==4.8.1.78
pillow==10.2.0

# Deep Learning
torch==2.10.0
torchvision==0.25.0

# ONNX / Inference
onnx==1.15.0
onnxruntime-gpu==1.16.3

# TensorRT (keep ONLY if you installed manually via NVIDIA)
# Otherwise comment these out
tensorrt_cu13==10.16.1.11

# Utils
matplotlib==3.6.3
pyyaml==6.0.1
requests==2.31.0
tqdm

# YOLO
ultralytics==8.4.19